.float-label {
    margin: 0;
    padding: 0;
    border: 0;
    margin-bottom: 10px;
    height: 3.5em;
    box-sizing: border-box;
    box-shadow: none;
    position: relative;
    label {
        z-index: 0;
        width: 0;
        height: 0;
        left: 0px;
        top: 0px;
        position: absolute;
        top: 15px;
        left: 8px;
        font-weight: 500;
        color: #777777;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        transition: all 0.2s ease-in-out;
    }
    input,
    textarea {
        z-index: 0;
        height: 3.5em;
        font-weight: bold;

        &:valid,
        &:focus {
            padding: 20px 8px 5px 8px;
        }
        &:focus {
            background: rgba(255, 255, 255, 1);
        }
        &:valid + label,
        &:focus + label {
            color: #333;
            font-size: 12px;
            -webkit-transform: translate3d(0, -10px, 0);
            transform: translate3d(0, -10px, 0) !important;
            z-index: 1;
        }
    }
}

ol > li {
    font-size: 18px;
}
